<div class="container-fluid">
  <br />

  <br />
  <form #userForm="ngForm">
    <div class="mb-3">
      <label for="firstName" class="form-label">Name</label>
      <input
        #name="ngModel"
        type="text"
        class="form-control"
        name="firstName"
        [(ngModel)]="userModel.name"
        [class.is-valid]="name.invalid && name.touched"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="userModel.email"
      />
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input
        #phone="ngModel"
        type="tel"
        class="form-control"
        name="phone"
        pattern="^\d{10}$"
        required
        [(ngModel)]="userModel.phone"
        [class.is-valid]="phone.invalid && phone.touched"
      />
    </div>

    <!-- <div ngModelGroup="address">
      <div class="mb-3">
        <label for="inputStreet" class="form-label">Street</label>
        <input type="text" class="form-control" name="inputStreet" ngModel />
      </div>

      <div class="mb-3">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" name="inputCity" ngModel />
      </div>

      <div class="mb-3">
        <label for="inputCountry" class="form-label">Country</label>
        <input type="text" class="form-control" name="inputCountry" ngModel />
      </div>
    </div> -->

    <div class="mb-3">
      <label for="topic" class="form-label">Topic of Interest</label>
      <select name="topic" class="form-select" [(ngModel)]="userModel.topic">
        <option value="">I am interested in</option>
        <option value="{{ i }}" *ngFor="let topic of topics; index as i">
          {{ topic }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="morning"
          name="timePreference"
          [(ngModel)]="userModel.timePreference"
        />
        <label class="form-check-label" for="timePreference"
          >Morning (9AM - 12PM)</label
        >
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="evening"
          name="timePreference"
          [(ngModel)]="userModel.timePreference"
        />
        <label class="form-check-label" for="timePreference"
          >Evening (5AM - 8PM)</label
        >
      </div>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        name="promotion"
        [(ngModel)]="userModel.subscribe"
      />
      <label class="form-check-label" for="promotion">
        Send me promotional offers
      </label>
    </div>

    <button class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div>
